:root {
  --clr-morado3: #030109;
  --clr-morado2: #1b0148;
  --clr-morado1: #4400a3;
  --clr-gris: #cecccc;
}

.contenedor-principal {
  width: 100%;
  margin: auto;
  position: relative;
  margin-top: 5em;
  margin-bottom: 8em;
}

.contenedor-principal .contenedor-lista-items {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  transition: all ease 1s;
}

.contenedor-principal .lista-items {
  display: flex;
  flex-wrap: nowrap;
  transition: all ease 1s;
  transform: translateX(0);
  position: relative;
}

.contenedor-principal .categoria-lista {
  color: var(--clr-gris);
  font-size: clamp(2em, 4vw, 3em);
  padding-left: 0.8em;
  margin-bottom: 0;
}

/* boton agregar card */
.btn-agregar-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 30%;
  aspect-ratio: 1 / 1.8;
  border-radius: 1em 1em 0 0;
  background-color: var(--clr-gris);
  cursor: pointer;
}

.btn-agregar-item i {
  font-size: clamp(4rem, 10vw, 10rem);
}

.btn-agregar-item p {
  margin-bottom: 0;
  font-size: clamp(1em, 3vw, 3em);
  font-weight: 700;
}

/* cards */
.link-card {
  text-decoration: none;
  color: var(--clr-gris);
  min-width: 250px;
  aspect-ratio: 1 / 1.8;
  border-radius: 1em 1em 0 0;
  overflow: hidden;
  position: relative;
  transform: scale(0.9);
  z-index: 500;
  transition: all ease 0.2s;
}

.link-card:hover {
  color: inherit;
  transform: scale(1);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.link-card .card-contenedor {
  height: 100%;
  width: 100%;
}
.link-card .card-contenedor img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.link-card .card-info {
  background-color: var(--clr-morado1);
  position: absolute;
  bottom: 0;
  height: 25%;
  width: 100%;
  font-weight: 700;
  padding: 0.5em;
}

.link-card .card-contenedor p {
  margin-bottom: 0;
  font-weight: 700;
}

.card-info .card-titulo {
  font-size: clamp(0.8em, 2vw, 1.5em);
  letter-spacing: 1px;
  color: var(--clr-gris);
}

.card-contenedor .card-info .card-estreno {
  font-size: clamp(0.5em, 2vw, 1.5em);
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--clr-gris);
}

/* botones flechas */

.contenedor-principal .flecha-izquierda,
.contenedor-principal .flecha-derecha {
  bottom: -1.5em;
  position: absolute;
  width: 49%;
  border: none;
  background-color: var(--clr-morado1);
  color: var(--clr-morado3);
  font-size: 2em;
  opacity: 0.8;
  transition: all ease 0.2s;
}

.contenedor-principal .flecha-izquierda:hover,
.contenedor-principal .flecha-derecha:hover {
  opacity: 1;
}

.contenedor-principal .flecha-izquierda:hover.fa-caret-right,
.contenedor-principal .flecha-derecha:hover.fa-caret-left {
  color: var(--clr-gris);
}
.contenedor-principal .flecha-izquierda {
  left: 0;
}
.contenedor-principal .flecha-derecha {
  right: 0;
}

@media (max-width: 900px) {
  .contenedor-principal {
    margin-bottom: 3em;
  }

  .contenedor-principal .categoria-lista{
    padding-left: .2em;
  }

  .btn-agregar-item {
    min-width: 150px;
    height: 30%;
    background: var(--clr-morado3);
    border: 0.8em solid var(--clr-gris);
    color: var(--clr-gris);
  }

  .link-card {
    min-width: 150px;
    height: 30%;
  }

  .contenedor-principal .flecha-izquierda,
  .contenedor-principal .flecha-derecha {
    font-size: inherit;
  }
}
