.row {
  margin-right: 0;
  margin-left: 0;
}
.contenedor-titulo-pelicula {
  padding:  1em 0 0 1em;
}
.contenedor-titulo-pelicula h2 {
  font-weight: 700;
}

.contenedor-editar-pelicula {
  background: #fff;
  color: #000;
}

form {
  display: flex;
  padding-right: 0;
  padding-left: 0;
}
.editar-izquierda {
  padding-right: 2em;
}

.item-input {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.item-input input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
}

.item-input label {
  margin-left: 0;
  margin-right: 0.5em;
}

figure img {
  margin: 0 auto;
}

button.enviar-edicion {
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: var(--clr-morado1);
  position: relative;
  bottom: 0;
  padding: 0.5em 2em;
  width: 50%;
  margin: 1em auto ;

}
