.outlet {
  background: white;
}

.peliculas {
  flex: 4;
  background-color: grey;
}

figure.pelicula-nombre {
  margin-bottom: 0;
}

.pelicula-nombre img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 100vh;
  margin-right: 0.5em;
}

.lista-peliculas {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.contenedor-tabla {
  height: 450px;
  width: 100%;
}

.contenedor-tabla .dataGrid {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.agregar-pelicula {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: var(--clr-morado1);
  padding: 0.5em 1em;
  margin-left: 1em;
  color: #fff;
  width: 50%;
  margin: 1em auto;
}

.agregar-item-lista {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: var(--clr-gris);
  padding: 0.5em 1em;
  margin-left: 1em;
  color: #fff;
}

.agregar-contenido {
  margin-bottom: 1em;
}

.datalist{
  border: 1px red solid;
  height:50px;
}

/* MODAL */
.modal {
  color: #000;
}
