:root {
    --clr-morado3: #030109;
    --clr-morado2: #1b0148;
    --clr-morado1: #4400a3;
    --clr-gris: #cecccc;
  }

.divRegister
{
    margin: 20px;
    position:fixed;
    top: 30%;
}
.divRegister .btn
{
    background-color: var(--clr-morado1);
    border-color: var(--clr-morado2);
    justify-self: end;
}
.divRegister .form-control
{
    margin-bottom: 6px;
    max-width: 500px;
}
.divRegister .Register-label
{
    background-color: grey;
    padding: 2px;
}
