:root{
    --main-color-negro: #030109;
    --main-color-morado: #1b0148;
    --main-color-purpura:  #4400a3;
    --main-color-gris: #CECCCC;
}
.footer{
    background-color: var(--main-color-gris);
    color: var(--main-color-negro);
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.boton{
    background-color: var(--main-color-morado);
    color: var(--main-color-gris);
}
.boton:hover{
    background-color: var(--main-color-purpura);
    color: var(--main-color-gris);
}

.redes{
    display: flex;
    justify-content: space-around;
    background-color: var(--main-color-gris);
 
    list-style: none;
    
}
.flecha{
    display: flex;
    margin-top:10px;
    list-style: none;
}
li a{
    color: var(--main-color-morado);
    font-size: 2em;
}
