:root {
  --clr-morado3: #030109;
  --clr-morado2: #1b0148;
  --clr-morado1: #4400a3;
  --clr-gris: #cecccc;
}

body {
  background-color: #030109;
  height: 100%;
}

.container-adminpanel {
  display: flex;
  color: white;
}

.link {
  text-decoration: none;
  color: inherit;
}

.outlet {
  flex: 4;
}

.loading {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 100;
  background-color: #000;
  display: grid;
  place-items: center;
}
